*html{
    box-sizing: content-box;
    width: 100%;
}

#iRule {
    height:6px;
    width:100%;
}

body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: black;
    font-family: 'Aleo', serif;
}

.mainBootstrapContainer {
    height: 100%;
}

#newsSource1 {
    background: lightgray;
    opacity: .5;
    color:black;
    border-radius: 10px;
}

#newsSource2 {
    background: lightgray;
    opacity: .5;
    color: black;
    border-radius: 10px;
}

.vl {
    border-left: 6px solid #343a40;
    
}
footer {
    width: 100%;
    height: 60px;
    text-align: center;
    margin: auto !important;
    margin-bottom: 0 !important;
}

#newsButton1 {
    height: 50px;
    border-radius: 10px;
    
}

#newsButton2 {
    height: 50px;
    border-radius: 10px;
}

.text-muted {
    display: inline;
    margin: auto;

}

#websiteName {
    font-family: 'Bungee Inline', cursive;
}